<!DOCTYPE html>
<html>
<head>
  <% include partials/header.ejs %>
</head>
<body>

<!-- col-sm-offset-1 col-lg-offset-1 -->
<div class="col-sm-offset-1 col-sm-10 col-sm-offset-1 col-lg-offset-1 col-lg-10 col-lg-offset-1 main"
     ng-app="SWEApp" ng-controller="CRUDController" ng-init="init()">

    <% include partials/nav.ejs %>
    <!-- This looks bad as of now -->
    <!--
     include partials/sidebar.ejs
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">
                <em class="fa fa-home"></em>
            </a></li>
            <li class="active">Active Loans</li>
        </ol>
    </div>
     -->

    <!-- TODO: Delete these and modularize into another partial -->
    <!-- SCOPE FOR SEARCH -->
    <div>
      <% include partials/admin_filters.ejs %>

      <!-- End of filters -->
      <!-- Start of accordion content -->

      <div class="row">
        <div class="col-md-12">
            <div id="sb-search" class="sb-search">
              <form>
                <input class="sb-search-input" placeholder="Search criteria"
                       type="text" value="" name="search" id="search" ng-model="query">
                <input class="sb-search-submit" type="submit">
                <span class="sb-icon-search"></span>
              </form>
              <div class="disabler"></div>
            </div>
            <div class="container-accordion">
              <div ng-show="loading" id="loading">
                  <img id="loader" ng-show="loading" src="<%- path -%>/resources/load.gif">
                  <div class="load-txt">Loading</div>
              </div>
              <div ng-hide="loading" class="accordion invisible {{visible}}">
                <dl>
                 <!-- we by custom search function that uses binded query to filter by specific attributes -->
                  <div ng-repeat="loan in loans | orderBy:'updated_at':reverse | filter: query:wanted">
                        <div ng-if="loan.new">
                            {{reloadAccordion()}}s
                        </div>
                        
                        <div class="tab accordionIn accordionOut">
                          <input id="tab-{{loan._id}}" type="checkbox" name="tabs" class="checkSelector">
                          <label for="tab-{{loan._id}}" class="tab-header">
                            <label class="container-mass container">
                              <input type="checkbox" id="{{loan._id}}-checkbox" ng-click="checkTrigger(loan._id)">
                              <span class="checkmark"></span>
                            </label>
                              
                            {{loan.name | limitTo: 18}}
                          <!-- style this somewhat... -->
                          – {{loan.type | uppercase}}
                          – {{loan.status | uppercase}}
                          <!-- - total $ -->
                          – # {{loan._id.toUpperCase() | limitTo:8:loan._id.length-8}}  
                            </label>
                          <div class="tab-content">
                              <% include partials/progress-row.ejs %>
                        <% include partials/accordion-comments.ejs %>
                          </div>
                        </div>
                  </div>
                </dl>
              </div>
            </div>
        </div>
      </div>
    </div>

    <!-- Hover Crud buttons -->
    <% include partials/google_buttons.ejs %>

    <!-- Loan CRUD Modals -->
    <% include partials/modals.ejs %>
</div>

<!-- GONE GONE BYE BYE -->
<!-- 
<script src="<%- path -%>js/classie.js"></script>
<script src="<%- path -%>js/uisearch.js"></script>
<script>
    new UISearch( document.getElementById( 'sb-search' ) );
</script>
 -->

<% include partials/footer.ejs %>

</body>
</html>