<!DOCTYPE html>
<html>

<head>
  <% include partials/header.ejs %>
</head>

<body>
  <div class="row">
    <div class="col-md-12" ng-app="SWEApp" ng-controller="userPerm" ng-init="init()">
      <div class="panel-body">
        <center>
          <h1 class="page-header">Edit User Permissions</h1>
          <div class="form-group">
            <h3>Enter the User you are looking for: </h3>
            <input type="text" name="user" ng-model="query">
            <br>
          </div>

          <div class="centered-text" 
            style="display:grid; grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr; grid-column-gap: 10px;">
            <span>User Name</span>
            <span>DOB</span>
            <span>Make User</span>
            <span>Make Admin</span>
            <span>Super Admin</span>
            <span>Delete User</span>
          </div>
          <br>
          <div ng-repeat="user in users | filter: query" 
               class="centered-text"
               style="display: grid; grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr; 
                      grid-column-gap: 10px; margin-bottom: 5px">
            <!-- TODO: Align these stuff... -->
            <!-- I have classes isAdmin isSuperAdmin that distinguishes them ~ -->
            <span class=""> {{user.name}} </span>
            <span> {{user.dob}} </span>
            <!-- TODO: Add ng-click to these -->
            <div> <button class="btn btn-link btn-md" data-target="#regUser" data-toggle="modal">User</button> </div>
            <div> <button class="btn btn-info btn-md" data-target="#Admin" data-toggle="modal">Admin</button> </div>
            <div> <button class="btn btn-warning btn-md" data-target="#superAdmin" data-toggle="modal">Super Admin</button> </div>
            <div> <button class="btn btn-danger btn-md" data-target="#delUser" data-toggle="modal"> <em class="fa fa-trash"></em></button> </div>
          </div>
        </center>
      </div>
    </div>
  </div>
  <br>
  <% include partials/modals.ejs %>
  <% include partials/footer.ejs %>
</body>

</html>