<!DOCTYPE html>
<html>

<head>
    <% include partials/header.ejs %>
</head>

<body>
    <div class="row">
        <div class="col-md-12" ng-app="SWEApp" ng-controller="userPerm" ng-init="init()">
            <h1 class="page-header">Edit User Permissions</h1>
            <div class="form-group">
                <h3>Enter the User you are looking for: </h3>
                <input type="text" name="user" ng-model="query">
                <br>
            </div>
            <!--<div ng-repeat="user in fake_users | filter:query ">-->
            <div ng-repeat="user in fake_users | filter:query ">
                <!-- TODO: Align these stuff... -->
                <br>
                {{user.username}} {{user.dob}}
                <!-- TODO: Add ng-click to these -->
                <!--<dt ng-click="makeSuperAdmin(user.username)"> --><button class="btn btn-primary">Super Admin</button><!--</dt>-->
                <!--<dt ng-click="makeAdmin(user.username)">--><button class="btn btn-warning">Admin</button><!--</dt>-->
                <!--<dt ng-click="makeUser(user.username)">--><button class="btn btn-danger">User</button><!--</dt>-->
                <!--<dt ng-click="removeUser(user.username)">--><button class="btn btn-primary">Delete User</button><!--</dt>-->

            </div>
        </div>
    </div>
    <br>
    <% include partials/footer.ejs %>
</body>

</html>