<!DOCTYPE html>
<html>

<head>
  <% include partials/header.ejs %>
</head>

<body>
  <!-- col-sm-offset-1 col-lg-offset-1 -->
  <div class="col-sm-offset-1 col-sm-10 col-sm-offset-1 col-lg-offset-1 col-lg-10 col-lg-offset-1 main" ng-app="SWEApp" ng-controller="CustomerController" ng-init="init()">
    <% include partials/nav.ejs %>
    <div class="jumbotron title-container">
      <div class="row">
        <h2> WELCOME TO THE <span class="title-brand">AUTOWISE</span> </h2>
      </div>
      <div class="row">
        <h1> Customer Hub </h1>
      </div>
      <hr>
      <div class="hub-items row">
        <div class="item col-sm-6">
          <a href="/editAccount">
              <em class="fa fa-5x fa-user"></em>
              <div>Edit your account information</div></a>
          <div class="divider"></div>
        </div>
        <!-- 
        <div class="item col-sm-6">
          <a href='#' ng-click="goToWarranties('5a05f274bd153e1c28741e70')">
              <em class="fa fa-5x fa-shield"></em><div>View some cool warranties!</div></a>
          <div class="divider"></div>
        </div>
        <div class="item col-sm-4"> 
          <a href="/customerHub"><em class="fa fa-5x fa-car"></em><div>Check out your loans</div></a>
          <div class="divider"></div>
        </div>
         -->
      </div>
    </div>
  </div>
  <% include partials/footer.ejs %>
</body>

</html>