<!DOCTYPE html>
<html>
<head>
  <% include partials/header.ejs %>
</head>
<body>

<!-- col-sm-offset-1 col-lg-offset-1 -->
<div class="col-sm-offset-1 col-sm-10 col-sm-offset-1 col-lg-offset-1 col-lg-10 col-lg-offset-1 main"
    ng-app="SWEApp" ng-controller="CustomerController" ng-init="init()">
    
    <% include partials/nav.ejs %>
  
    <!-- <p>(I assume this will be in the customer navigation bar)</p> -->
    <div><a href="/editAccount">Edit your account information</a></div>
    <div><a href='#' ng-click="goToWarranties('5a05f274bd153e1c28741e70')">View some cool warranties!</a></div>
    <div><a href="/customerHub">Check out your loans</a></div>
    <!-- 
      <div><a class="btn btn-danger" ng-click="oops()">Don't you dare press this button</a></div>
     -->
</div>

<script src="js/classie.js"></script>
<% include partials/footer.ejs %>

</body>
</html>