<!DOCTYPE html>
<html>
<head>
  <% include partials/header.ejs %>
</head>
<body>
  <!-- col-sm-offset-1 col-lg-offset-1 -->
  <div class="col-sm-offset-1 col-sm-10 col-sm-offset-1 col-lg-offset-1 col-lg-10 col-lg-offset-1 main" 
       ng-app="SWEApp" ng-controller="CustomerController" ng-init="init()">
    <% include partials/nav.ejs %>
    <div class="jumbotron title-container">
      <div class="row">
        <h2> WELCOME TO THE <span class="title-brand">AUTOWISE</span> </h2>
      </div>
      <hr>
      <!-- All that was here is in the user button (top right) area -->
      
      <!-- Just diplay loan, with program-bar (hidden rn on action-row) with comments, and a link to warranties! -->

      <!-- Display something similar to 'no loans' message if they got nothing -->

      </div>
    </div>
  </div>
  <% include partials/footer.ejs %>
</body>
</html>