<!DOCTYPE html>
<html>
<head>
  <% include partials/header.ejs %>
</head>
<body>

<!-- col-sm-offset-1 col-lg-offset-1 -->
<div class="col-sm-offset-1 col-sm-10 col-sm-offset-1 col-lg-offset-1 col-lg-10 col-lg-offset-1 main"
     ng-app="SWEApp" ng-controller="CRUDController" ng-init="init()">

    <% include partials/nav.ejs %>
    <!-- This looks bad as of now -->
    <!--
     include partials/sidebar.ejs
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">
                <em class="fa fa-home"></em>
            </a></li>
            <li class="active">Active Loans</li>
        </ol>
    </div>
     -->

    <!-- TODO: Delete these and modularize into another partial -->
    <!-- SCOPE FOR SEARCH -->
    <div ng-controller="CheckController">
      <% include partials/admin_filters.ejs %>

      <!-- End of filters -->
      <!-- Start of accordion content -->

      <div class="row" ng-controller="AccordFuncController">

        <div class="col-md-12">
            <div id="sb-search" class="sb-search">
              <!-- Marcial: -->
              <!-- in order for this to work properly you'll need a diff input field per search criteria -->
              <!-- each linked to the desired property as ng-model=query.property_goes_here -->
              <!-- this is a mess, so a general search works best imo -->
              <!-- BUT when pagination comes into the picture this COULD be useful. TBD -->
              <!-- Marcial after merging: this is a mess... to change ASAP -->
              <form>
                <!-- input binded to $scope.query -->
                  <input class="sb-search-input" placeholder="Search criteria"
                         type="text" value="" name="search" id="search" ng-model="query">
                  <input class="sb-search-submit" type="submit">
                  <span class="sb-icon-search"></span>
              </form>
              <div class="disabler"></div>
            </div>
            <div class="container-accordion">
              <!--
              <input class="sb-search-input sb-search-open" placeholder="Search criteria" ng-model="wanted">
               -->
              <!-- This can be further modularized now... -->
              <div ng-show="loading" id="loading"><img id="loader" ng-show="loading" src="resources/load.gif">
                  <div class="load-txt">Loading</div>
              </div>
              <div ng-hide="loading" class="accordion">
                <dl>
                  <!--
                  <input ng-model="wanted"
                  placeholder="What you want"
                  >
                   -->
                 <!-- we by custom search function that uses binded query to filter by specific attributes-->
                  <div ng-repeat="loan in loans | orderBy:'updated_at':reverse | filter: search:wanted">
                    <div ng-if="!loan.new">
                      <dt ng-click="clickAccordion(loan._id)">
                        <a href="#accordion{{loan._id}}" class="accordion-title accordionTitle js-accordionTrigger"
                           aria-controls="accordion{{loan._id}}" aria-expanded="false">

                          <label class="container-mass container">
                              <input type="checkbox" id="{{loan._id}}-checkbox">
                              <span class="checkmark"></span>
                          </label>

                          {{loan.name | limitTo: 18}}
                          <!-- style this somewhat... -->
                          – {{loan.type | uppercase}}
                          – {{loan.status | uppercase}}
                          <!-- - total $ -->
                          – # {{loan._id.toUpperCase() | limitTo:8:loan._id.length-8}}
                        </a>
                      </dt>
                      <dd class="accordion-content accordionItem is-collapsed" id="accordion{{loan._id}}" aria-hidden="true">
                        <% include partials/progress-row.ejs %>
                        <% include partials/accordion-comments.ejs %>
                      </dd>
                    </div>

                    <!-- Marcial: -->
                    <!-- the accordion logic needs to change to pure CSS IMO -->
                    <div ng-if="loan.new">
                      {{reloadAccordion()}}
                      <dt ng-click="clickAccordion(loan._id)">
                        <a href="#accordion{{loan._id}}" class="accordion-title accordionTitle js-accordionTrigger"
                           aria-controls="accordion{{loan._id}}" aria-expanded="true">

                          <label class="container-mass container">
                              <input type="checkbox" id="{{loan._id}}-checkbox">
                              <span class="checkmark"></span>
                          </label>

                          {{loan.name | limitTo: 18}}
                          – {{loan.type}}
                          – {{loan.status | uppercase}}
                          <!-- - total $ -->
                          – # {{loan._id.toUpperCase() | limitTo:8:loan._id.length-8}}
                        </a>
                      </dt>
                      <dd class="accordion-content accordionItem is-collapsed" id="accordion{{loan._id}}" aria-hidden="true">
                        <% include partials/progress-row.ejs %>
                        <% include partials/accordion-comments.ejs %>
                      </dd>
                    </div>
                  </div>
                </dl>
              </div>
            </div>
        </div>
      </div>
    </div>

    <!-- Hover Crud buttons -->
    <% include partials/google_buttons.ejs %>

    <!-- Loan CRUD Modals -->
    <% include partials/modals.ejs %>

<script src="js/classie.js"></script>
<script src="js/uisearch.js"></script>
<script>
    new UISearch( document.getElementById( 'sb-search' ) );
</script>
<% include partials/footer.ejs %>
</body>
</html>