<!DOCTYPE html>
<html>
<head>
  <% include partials/header.html %>
</head>
<body>
    <div ng-app="SWEApp" ng-controller="userSearch" >
        <%include partials/admin_search_user.html %> 
    </div>   
    
    
    
    <% include partials/footer.html %>
</body>
</html>    