<!DOCTYPE html>
<html>
<head>
  <% include partials/header.ejs %>
</head>



<body>
  


<!-- ACCOUNT EDITING VIEW & FUNCTIONALITY ~
> View your account info
  - Name
  - DOB
  - Email (if exists)
  - DL
  - Other info?
> Change your password
  - Implement as a button to a modal dialog
> Can't change other information -> need to call in so Autowise admin can do so
> Contact Autowise -> send a message
  - Textbox field
  - Button to send contents of field in an email -->
<!-- col-sm-offset-1 col-lg-offset-1 -->

  <!-- MAIN PAGE DIV -->
  <div class="col-sm-12 col-lg-12 main"
    ng-app="SWEApp" ng-controller="Warranties" ng-init="init()">

        <% include partials/nav.ejs %>
        <div class="header row">
            <ol class="breadcrumb">
                <li><a href="#">
                    <em class="fa fa-home"></em>
                </a></li>
                <li class="active">Account Information</li>
            </ol>
        </div>
    </div>



<div class="col-sm-offset-1 col-sm-10 col-sm-offset-1 col-lg-offset-1 col-lg-10 col-lg-offset-1 main"
     ng-app="SWEApp" ng-controller="UserAccounts" ng-init="init()">

     <div class="row">
         <div class="col-md-12 account-info-style">

         <h1 class="page-header user-info-title">Account Information</h1>
     </div>
    <hr>
    <div class="row user-info-row">             
         <div class="col-md-6 col-beg">
             <h3>Username</h3>
         </div>
         <div class="col-md-6">
             <div class="user-info-spacing"> {{username}} </div>
         </div>    
    </div>
    <div class="row user-info-row">             
         <div class="col-md-6 col-beg">
             <h3>Name</h3>
         </div>
         <div class="col-md-6">

             {{name}}
         </div>
    </div>
    <div class="row user-info-row">             
         <div class="col-md-6 col-beg">
             <h3>Date of Birth</h3>
         </div>
         <div class="col-md-6">
             {{dob}}
         </div>    
    </div>
    <div class="row user-info-row">             
         <div class="col-md-6 col-beg">
             <h3>Email</h3>
         </div>
         <div class="col-md-6">
             {{email}}
         </div>  
    </div>
    <div class="row user-info-row">             
         <div class="col-md-6 col-beg">
             <h3>Driver's License</h3>
         </div>
         <div class="col-md-6">
             {{dl}}
         </div>
    </div>
    <div class="row user-info-row user-info-btn">
        <button class="btn btn-primary " data-dismiss="modal" ng-click="contactAdmin"  data-target="#changePasswordModal" data-toggle="modal">
                <!-- Forgot my password button -->
=
                Change my password
              </button>






    <% include partials/nav.ejs %>
    <% include partials/modals.ejs %>

    </div>
</div>

<% include partials/footer.ejs %>

</body>
</html>