<!DOCTYPE html>
<html>
<head>
  <% include partials/header.ejs %>
</head>
<body>

  <% include partials/nav.ejs %>
  <!-- 
  add title before query "available plans"
  Mileage -> Car Mileage 
  Add description of "pleaes enter car information" at the top 
  -->
  
  <!-- MAIN PAGE DIV -->
  <div class="col-sm-12 col-lg-12 main"
    ng-app="SWEApp" ng-controller="Warranties" ng-init="init()">
    
    <!-- ROW - WARRANTIES QUERY FORM -->
    <div class="row warranties">
      <div class="col-md-12">
        <h1 class="page-header">Warranties</h1>

        <h5 class="warranty-instruction">
          Enter car information. Qualified warranties will be displayed below
        </h5>

        <!-- 'FORM' FOR WARRANTY PLAN QUERY -->
        <!-- DROP-DOWN FOR CAR AGE SELECTION -->
        <div class="row modal-body">
            <div class="group selector">
              <input class="inputMODAL" type="text" ng-model="query.age" required ng-focus="onFocusInputWarr('0')" ng-blur="onBlurInputWarr('0')" ng-change="queryWarrantyPlan()">
              <span class="highlight required"></span>
              <span class="bar"></span>
              <label>Car's Year</label>
              <div class="sudo-select">
                <ul class="category-options" id="sudo-select-warr-0">
                  <li class="category-option" data-value="-1" ng-mousedown="setWarrantiesYear('-1')">
                    Any year
                  </li>
                  <li class="category-option" data-value="2007" ng-mousedown="setWarrantiesYear('2007')">
                    2007 or newer
                  </li>
                  <li class="category-option" data-value="2011" ng-mousedown="setWarrantiesYear('2011')">
                    2011 or newer
                  </li>
                </ul>
              </div>
            </div>
        </div>
        
        <!-- TEXT-ENTRY FOR CAR MILEAGAE -->
          <div class="row modal-body">
            <div class="group">
              <input class="inputMODAL" type="text" name="Mileage" ng-model="query.mileage" ng-change="queryWarrantyPlan()" required> 
              <span class="highlight required"></span>
              <span class="bar"></span>
              <label>Mileage</label>
            </div>
          </div>
<!--
        <div class="form-group">
        <h3 class="page-header-warranties">Mileage</h3>
          <input type="text" name="Mileage" ng-model="query.mileage" ng-change="queryWarrantyPlan()" > miles<br>
        </div>
-->
        
        <!-- RADIO BUTTON FOR CAR MAKE/COUNTRY OF ORIGIN -->
        <!-- TODO: Make this prettier -->
        <div class="row modal-body">
            <div class="group selector">
              <input class="inputMODAL" type="text" ng-model="query.make" required ng-focus="onFocusInputWarr('1')" ng-blur="onBlurInputWarr('1')" ng-change="queryWarrantyPlan()">
              <span class="highlight required"></span>
              <span class="bar"></span>
              <label>Car Make</label>
              <div class="sudo-select">
                <ul class="category-options" id="sudo-select-warr-1">
                  <li class="category-option" data-value="Domestic" ng-mousedown="setWarrantiesMake('Domestic')">
                    Domestic
                  </li>
                  <li class="category-option" data-value="Foreign" ng-mousedown="setWarrantiesMake('Foreign')">
                    Foreign
                  </li>
                </ul>
              </div>
            </div>
        </div>  
      </div>
    </div>
    
    <!-- ROW - WARRANTIES QUERY RESULTS -->
    <div class="row">
      <div class="panel-heading">
          <center><h2 class="page-header">Available Warranty Plans:</h2></center>
      </div>
      <div class="col-md-12">
        <div class="container-accordion">
          <div class="accordion invisible {{visible}}">
            <dl>
              <div ng-repeat="warranty in matchedWarranties | orderBy: ['term.months' , 'term.miles']">
                <dt data-target="#{{warranty.type}}" data-toggle="modal" ng-click="setChosenWarranty(warranty)">
                  <a class="accordionFakeTitle warrantiesQueryText">
                    <div class="pull-right right-right">
                      <h4>Duration: <strong> {{warranty.term.months}} months </strong> </h4>
                      <h4>Mileage: <strong> {{warranty.term.miles * 1000 | number }} miles </strong> </h4>
                    </div>
                    
                    <div class="pull-left left-left" title="Starting price">
                      <h2>
                        <strong> {{warranty.price | currency}}</strong><span>*</span>
                        <!-- starting -->
                      </h2>
                    </div>
                  </a>
                </dt>
              </div>
              </dl>
            </div>
          </div>
        </div>
      </div>
  <!-- Warranty Modal -->
  <% include partials/modals.ejs %>
  </div>

  <!-- JAVASCRIPT FILES -->

  <% include partials/footer.ejs %> 
</body>
</html>