<!DOCTYPE html>
<html>
<head>
  <% include partials/header.html %>
</head>
<body>
  <% include partials/nav.html %>
  <% include partials/sidebar.html %>
  
  <!-- NAVIGATION BAR -->
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="timeline-container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="#"><span>Autowise</span>Admin</a>
				<ul class="nav navbar-top-links navbar-right">
					<li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
						<em class="fa fa-bell"></em><span class="label label-info">5</span>
					</a>
						<ul class="dropdown-menu dropdown-alerts">
							<li><a href="#">
								<div><em class="fa fa-envelope"></em> 1 New Message
									<span class="pull-right text-muted small">3 mins ago</span></div>
							</a></li>
							<li class="divider"></li>
							<li><a href="#">
								<div><em class="fa fa-heart"></em> 12 New Likes
									<span class="pull-right text-muted small">4 mins ago</span></div>
							</a></li>
							<li class="divider"></li>
							<li><a href="#">
								<div><em class="fa fa-user"></em> 5 New Followers
									<span class="pull-right text-muted small">4 mins ago</span></div>
							</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
  
  <!-- SIDE BAR -->
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">Username</div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<ul class="nav menu">
			<li class="active"><a href="index.html"><em class="fa fa-spinner">&nbsp;</em> Warranties</a></li>
			<li><a href="widgets.html"><em class="fa fa-history">&nbsp;</em> Archived Loans</a></li>
			<li><a href="login.html"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>
	</div><!--/.sidebar-->
	
  <!-- MAIN PAGE DIV -->
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" ng-app="SWEApp" ng-controller="Warranties">
		<div class="header row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Active Loans</li>
				<li class="active">Warranties</li>
			</ol>
		</div><!--/.row-->
    
    <!-- ROW - WARRANTIES QUERY FORM -->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Warranties</h1>
        <div class="panel-heading">
          
          <!-- FORM FOR WARRANTY PLAN QUERY -->
          <form ng-submit="queryWarrantyPlan()">
            <fieldset>
              
              <!-- DROP-DOWN FOR CAR AGE SELECTION -->
              <div class="form-group">
                <h4 class="page-header">Car model year</h4>
                <select ng-model="query.age">
                  <option value="OlderThan2007">Older than 2007</option>
                  <option value="2007To2011">2007 to 2011</option>
                  <option value="NewerThan2011">Newer than 2011</option>
                </select>
              </div>
              
              <!-- TEXT-ENTRY FOR CAR MILEAGAE -->
              <div class="form-group">
                <h4 class="page-header">Mileage</h4>
                <input type="text" name="Mileage" ng-model="max_mileage"><br>
              </div>
              
              <!-- RADIO BUTTON FOR CAR MAKE/COUNTRY OF ORIGIN -->
              <div class="form-group">
                <h4 class="page-header">Car make: Domestic or Asian</h4>
                <input type="radio" name="RadioAnswer" value="Domestic" checked> Domestic<br>
                <input type="radio" name="RadioAnswer" value="Asian"> Asian
              </div>
              
              <!-- SUBMISSION BUTTON -->
              <div class="form-group">
                <button type="submit" class="btn btn-default" id="your-id">Submit</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
		</div><!--/.row-->
    
    <!-- ROW - WARRANTIES QUERY RESULTS -->
		<div class="row">
      <div ng-repeat="warranty in matchedWarranties">
        
        <!-- ACCORDION HEADER -->
        <dt>
          <a href="#accordion{{$index}}" aria-expanded="false" aria-controls="accordion{{$index}}" class="accordion-title accordionTitle js-accordionTrigger">
            TEMP
          </a>
        </dt>
        
        <!-- ACCORDION CONTENTS -->
        <dd class="accordion-content accordionItem is-collapsed" id="accordion{{$index}}" aria-hidden="true">
          <div class="row">
            HEYO, this is a test!
          </div>
        </dd>
      </div>
    </div>
  </div>
	
  <!-- JAVASCRIPT FILES -->
  <% include partials/footer.html %> 
  <script src="js/classie.js"></script>
  <script src="js/uisearch.js"></script>
  <script src="js/accord.js"></script> 
</body>
</html>