<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default chat">
            <div class="panel-heading">
                Comments
            </div>
            <div class="panel-body">
                <ul ng-repeat="comment in loan.comments | orderBy:'time':reverse_comments">
                    <li class="left clearfix">
                        <div class="chat-body clearfix">
                            <!-- For amins: username -->
                            <!-- For users: you vs 'Autowise' -->
                            <span>{{comment.content}}</span>

                            <!-- Comment Data -->
                            <div class="pull-right">
                              <strong class="primary-font"
                                      ng-if="comment.admin && user_isAdmin">
                                  Admin Only
                              </strong>
                              <small class="text-muted">
                                {{comment.newtime | date: "MMM dd, yyyy"}}
                                <b>{{comment.newtime | date: "h:mm a"}}</b>
                              </small>

                              <!-- Remove comment -->
                              <!-- TODO: Don't let the users do this -->
                              <button class="btn btn-danger btn-xs" 
                                      title="Delete this comment"
                                      ng-click="removeComment(loan._id, loan.comments, comment)">
                                  <em class="fa fa-trash"></em>
                              </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
              <!-- bug here: when a button is clicked, it submits the comment -->
              <div class="input-group">
                        <input type="text" class="form-control" placeholder="Type your message here..." id="{{loan._id}}-new-comment"/>
                        <div class="input-group-btn">
                          <button class="btn btn-md btn-primary" ng-click="addComment(loan._id)">
                            <!-- Other words: -->
                                <!-- Attach, plain comment? -->
                              <span class="btn-group-text">Publish Comment</span>
                              <span class="btn-group-icon"><em class="fa fa-xl fa-send"></em></span>
                          </button>

                          <button class="btn btn-md"
                            ng-class="(loan.commentAsAdmin ? 'btn-dark' : 'btn-info')"
                            ng-click="loan.commentAsAdmin = !loan.commentAsAdmin">
                            <span class="btn-group-text" ng-if="loan.commentAsAdmin">NOT</span>
                            <span class="btn-group-text">Visible To Customer</span>
                            <span class="btn-group-icon" ng-if="loan.commentAsAdmin"><em class="fa fa-xl fa-eye-slash"></em></span>
                            <span class="btn-group-icon" ng-if="!loan.commentAsAdmin"><em class="fa fa-xl fa-eye"></em></span>
                          </button>

                          <!-- Somewhere else? -->
                          <!-- Have a read/have updates from client -->
                          <button class="btn btn-warning btn-md"
                            ng-click="emailClient(loan._id, loan.user_email, loan.name)">
                            <span class="btn-group-text">Email</span>
                            <span class="btn-group-icon"><em class="fa fa-xl fa-envelope"></em></span>
                          </button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>