<div>
  <h4 class="centered-text">Actions</h4>
  <div class="col-md-12 actions-row">
    <a href='#' ng-click="goToWarranties(loan._id)" class="btn btn-cadet">
      Request a warranty plan 
    </a>
  </div>
</div>