<div>
  <h4 class="centered-text">Actions</h4>
  <div class="col-md-12 actions-row customer">
    <a href='#' ng-click="goToWarranties(loan._id)" class="btn btn-cadet btn-md">
      Request warranty plan
    </a>
    <a href='#' ng-click="viewBuyersOrder(loan)" class="btn btn-info btn-md">
      Application Details
    </a>
    <a href='http://www.autowiseonline.com' target='_blank' class="btn btn-primary btn-md">
      Car Inventory
    </a>

  </div>
</div>