<div class="row" id="searchUserPanel">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="page-header">Search for a User!</h1>
            </div>
            <div class="panel-body timeline-container">
                <div id="sb-search" class="sb-search sb-search-open">
                    <form name="searchForm" ng-submit="test(user)" autocomplete="on">
                    <input name="name" type="text" ng-model="wantedUser" placeholder="User to find">

                    <!-- do an ng-repeat for {{userNames}} with filter wantedUser -->
                    <!-- filter and such is implemented in home.ejs... -->

                    <div ng-repeat="{{userNames}} | filter:wantedUser">
                        {{userNames}}
                        {{wantedUser}}
                        </div>    

                    <!-- 
                    <input name="submit" type="submit" value="submit">    
                     -->

                    </form>

                    <!-- <form>
                        <input class="sb-search-input" placeholder="Enter the user email..." type="text" value="" name="search" id="search">
                        <input input type="reset" value="Reset" class="sb-search-submit" value="">
                        <span  class="sb-icon-search"></span>
                    </form> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 
<div class="row" id="addInfoPanel">
    <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="page-header">Add Loan Information For User</h1>
            </div>
            <div class="panel-body timeline-container">
                <div class="uInfo" id="rightU">
                    <h3>Enter the user information for (USER) below.</h3><br>
                    <form>
                        Loan Type:
                        <input type="text" name="loanType" placeholder="Enter the loan type" value=""><br><br>
                        Loan Status:
                        <input type="text" name="loanStatus" placeholder="Enter the loan status" value=""><br><br>
                        Date Posted
                        <input type="date" name="DP" placeholder="Enter Date Posted" value=""><br><br>
                        Lenders
                        <input type="text" name="lenders" placeholder="Enter Lender(s)" value=""><br><br>
                        <input input type="submit" value="Submit">    
                    </form>    
                </div>
            </div>
    </div>
</div>
 -->
