<!-- en masse Change status modal -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="modal fade" data-keyboard="false" data-backdrop="static" id="changeModalEnMasse" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header centered-text">
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
              <span>
                <h3>Change the status of the selected loans to</h3>
                <!-- <br> -->
                <!-- TODO: Figure the angular way to default to something instead of common html of 'selected' -->
                <select name="Loan Status" ng-model="newStatusMass">
                    <option disabled selected>New Status</option>
                    <option value="RECEIVED">Received</option>
                    <option value="SUBMITTED">Submitted</option>
                    <option value="PENDING">Pending</option>
                    <option value="VERIFIED">Verified</option>
                    <option value="APPROVED">Approved</option>
                    <option value="DENIED">Denied</option>
                </select>
              </span>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal" ng-click="updateStatusEnMass(newStatusMass)">Update</button>
              <button class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Single Change status modal -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="modal fade" data-keyboard="false" data-backdrop="static" id="changeModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header centered-text">
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
              <span>
                <h3>Change the status of the {{singleLoanID[0].name}}'s {{singleLoanID[0].type}} loan to:</h3>
                <!-- TODO: Figure the angular way to default to something instead of common html of 'selected' -->
                <select name="Loan Status" ng-model="newStatus">
                    <!-- <option disabled selected>New Status</option> -->
                    <option value="RECEIVED">Received</option>
                    <option value="SUBMITTED">Submitted</option>
                    <option value="PENDING">Pending</option>
                    <option value="VERIFIED">Verified</option>
                    <option value="APPROVED">Approved</option>
                    <option value="DENIED">Denied</option>
                </select>
              </span>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal" ng-click="changeLoanStatus(singleLoanID[0]._id, newStatus)">Update</button>
              <button class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Simple New Loan modal -->
<div class="row">
  <div class="col-xs-12">
    <div class="modal fade" data-backdrop="static" id="buyerModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <form>
              <h3>New Loan</h3>
              <input placeholder="Name" type="" ng-model="newLoan.name" required>
              <input placeholder="Email" type="email" ng-model="newLoan.user_email">
              <select ng-model="newLoan.type">
                <option value="" disabled>Select loan type</option>
                <option value="auto" selected>Auto Loan</option>
                <option value="repair">Repair</option>
                <option value="admin">Admin</option>
              </select>
              <!-- <input type="submit" class="btn btn-default"> -->
              <!-- <input type="submit" class="data-dismiss="modal"> -->
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" ng-click="addLoan()">Create</button>
            <button class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Buyers order -->
<div class="row">
  <div class="col-xs-12">
    <div class="modal fade" data-keyboard="false" data-backdrop="static" id="buyersOrderModal" tabindex="-1">
      <!-- Marcial: Need better Modal CSS -->
      <!--          Doesn't need to be mobile friendly -->
      <div class="modal-dialog" style="width: 60%; min-width: 615px;">
      <!-- <div class="modal-dialog" style=""> -->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2>Buyers Order</h2>
            <!-- ["cutomer-info", "car-info", "financing", "trade-info", "insurance"] -->
            <ul class="nav nav-tabs" id="tabContent">
              <li class="active">
                <a href="#customer-info" data-toggle="tab">Customer Info</a>
              </li>
              <li> <a href="#car-info" data-toggle="tab">Car Info</a> </li>
              <li> <a href="#financing" data-toggle="tab">Financing</a> </li>
              <li> <a href="#trade-info" data-toggle="tab">Trade Info</a> </li>
              <li> <a href="#insurance" data-toggle="tab">Insurance</a> </li>
            </ul>
          </div>
          <div class="modal-body">
            <!-- TODO: Figure out how to validate this -->
            <!-- TODO: Group fields nicely to utilize horizontal space to the max -->
            <!--
              Form Date:
              <input type="date" name="form-date">
              <br>
              today's should be default
             -->
            <div class="tab-content">
              <!-- Please Enter the fields for the Buyers Order<br> -->
              <div class="tab-pane active" id="customer-info">
                <h3>Customer Information</h3>
                <br>
                Name    <input name="customer-name"   placeholder="Required"> <br>
                Email   <input name="customer-email" placeholder="Required"> <br>
                DL      <input name="customer-dl"       placeholder="Required"> <br>
                DOB     <input name="customer-dob"     type="date"> <br>
                <br>
                Phone # <input name="customer-phone" type="tel" placeholder="Required"> <br>
                Home #  <input name="customer-home"   type="tel" > <br>
                Work #  <input name="customer-work"   type="tel" > <br>
                <br>

                <h4> Adding a Co-Purchaser? </h4>
                <!-- These need to be on the same line ... c'mon CSS... -->
                <!-- ng-value?? need an angular value that's boolean... -->
                <!-- ng-model="is_cosigning" -->
                <select >
                  <option value="true">Yes</option>
                  <option value="false" selected>No</option>
                </select>
                <br>

                <br>
                Name    <input name="copurchaser-name"   placeholder="Required"> <br>
                Email   <input name="copurchaser-email"  placeholder="Required"> <br>
                DL      <input name="copurchaser-dl"     placeholder="Required"> <br>
                DOB     <input name="copurchaser-dob"    type="date"> <br>
                <br>
                Phone # <input name="copurchaser-phone"  type="tel" placeholder="Required"> <br>
                Home #  <input name="copurchaser-home"   type="tel" > <br>
                Work #  <input name="copurchaser-work"   type="tel" > <br>
                <br>

                <!-- <h4>Address</h4> -->
                Street  <input type="" name="contact-street-address"> <br>
                City    <input type="" name="contact-city"> <br>
                State   <input type="" name="contact-state"> <br>
                County  <input type="" name="contact-county"> <br>
                Zipcode <input type="" name="contact-zip"> <br>
                <br>
              </div>

              <div class="tab-pane" id="car-info">
                <h3> Wanted Car Information </h3>
                Car type:
                <select   name="is-car-used">
                  <option disabled selected>Choose an option</option>
                  <option value="new">NEW</option>
                  <option value="used">Used</option>
                </select>

                <br>
                Year    <input name="car-year"    placeholder="Required" type="number"> <br>
                Make    <input name="car-make"    placeholder="Required"> <br>
                Model   <input name="car-model"   placeholder="Required"> <br>
                Type    <input name="car-type"    placeholder="Required"> <br>
                Color   <input name="car-color"   placeholder="Required"> <br>
                Mileage <input name="car-mileage" placeholder="Required" type="number"> <br>
                <br>

                <h4> Optional Information </h4>
                Cylinders         <input name="car-cyl"       type="number"> <br>
                Serial Number     <input name="car-serial-no" type="number"> <br>
                Stock Number      <input name="car-stock-num" type="number"> <br>
                Salesperson       <input name="car-salesperson"> <br>
                Lender            <input name="car-lender"> <br>
                Purchased new tag <input name="car-purchase-new-tag"> <br>
                Transfer          <input name="car-transfer"> <br>
                Tag Number        <input name="car-tag-no"> <br>
                Plate Number      <input name="car-plate-no"> <br>
                Expiration Date   <input name="car-exp-date"> <br>
                <br>
              </div>

              <div class="tab-pane" id="financing">
                <h3> Financing </h3>
                NADA Retail       <input placeholder="Required" type="number" name="nada_retail"> <br>
                Total Sale Price  <input placeholder="Required" type="number" name="total-sale-price"> <br>
                Trade Allowance   <input placeholder="Required" type="number" name="trade-allowance"> <br>
                Trade Difference  <input placeholder="Required" type="number" name="trade-difference"> <br>
                Admin Fees        <input placeholder="Required" type="number" name="admin-fees" value="845"> <br>
                <!-- 845 by default -->
                Balance Owed      <input placeholder="Required" type="number" name="bal-owed-on-trade"> <br>
                Total Due         <input placeholder="Required" type="number" name="total-due"> <br>
                <br>

                <h4> Optional Information </h4>
                <!-- bye bye??
                Accessories <input type="" name="accessories">
                <br>
                Waste Tire Batt Fee <input type="number" name="waste-tire-batt-fee">
                <br>
                 -->
                Sub Total A <input type="number" name="sub-total-a"> <br>
                Sales Tax is County: 
                <select name="sales-tax-is-county">
                  <option value="True">True</option>
                  <option value="False">False</option>
                </select>
                <br>

                Sales Tax %    <input type="number" name="percentage"> <br>
                Estimated Fees <input type="number" name="estimated-fees"> <br>
                Lemon Law Fee  <input type="number" name="lemon-law-fee"> <br>
                Sub Total B    <input type="number" name="sub-total-b"> <br>
                Down Payment   <input type="number" name="down-payment"> <br>
                Unpaid Due     <input type="number" name="unpaid-due"> <br>
                <br>
              </div>

              <div class="tab-pane" id="trade-info">
                <h3> Trade Information </h3>
                Year    <input placeholder="Required" name="car-year" type="number" > <br>
                Make    <input placeholder="Required" name="car-make"> <br>
                Model   <input placeholder="Required" name="car-model" type="number" > <br>
                Type    <input placeholder="Required" name="car-type"> <br>
                Color   <input placeholder="Required" name="car-color"> <br>
                Mileage <input placeholder="Required" name="car-mileage" type="number" > <br>
                <br>

                <h4> Optional Information </h4>
                Cylinders      <input name="car-cyl"  type="number"> <br>
                Serial Number  <input name="car-serial" type="number"> <br>
                Account Number <input name="account-num" type="number"> <br>
                <!-- Cars have phones?? huh... -->
                <!-- Phone Number   <input type="tel" name="phone-num"> <br> -->
                Holder         <input name="holder"> <br>
                Address        <input name="address"> <br>
                Amount         <input name="amount" type="number"> <br>
                Qualified By   <input name="qualif-by"> <br>
                Verified By    <input name="verif-by"> <br>
                Good Through   <input name="good-thru" type="date"> <br>
              </div>

              <div class="tab-pane" id="insurance">
                <h3> Insurance Information </h3>
                Policy Number  <input placeholder="Required" name="ins-policy-num" type="number"> <br>
                Company        <input placeholder="Required" name="company"> <br>
                <br>

                <h4> Optional Information </h4>
                Agent          <input name="agent"> <br>
                Phone Number   <input name="phone-num" type="number"> <br>
                Eff Dates      <input name="eff-dates"> <br>
                Verified By    <input name="verif-by"> <br>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal">Submit</button>
            <button class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Warranties info: Any Year -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="modal fade" data-keyboard="false" data-backdrop="static" id="Any-Year" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header centered-text">
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
              <span>
                {{chosenWarranty.type}} - {{chosenWarranty.term.months}}
              </span>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">Close</button>    
              <button class="btn btn-primary " data-dismiss="modal"
                ng-click="emailWarrantyInterest(testUser)">
                Confirm this Plan (sends an email to Autowise)
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Warranties info: 2007 or Newer -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="modal fade" data-keyboard="false" data-backdrop="static" id="Deluxe" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header centered-text">
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
              <span>
                {{chosenWarranty.type}} - {{chosenWarranty.term.months}}
              </span>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">Close</button>    
              <button class="btn btn-primary " data-dismiss="modal"
                ng-click="emailWarrantyInterest(testUser)">
                Confirm this Plan (sends an email to Autowise)
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Warranties info: 2011 or Newer -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="modal fade" data-keyboard="false" data-backdrop="static" id="Factory-Type" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header centered-text">
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
              <span>
                {{chosenWarranty.type}} - {{chosenWarranty.term.months}}
              </span>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">Close</button>    
              <button class="btn btn-primary " data-dismiss="modal"
                ng-click="emailWarrantyInterest(testUser)">
                Confirm this Plan (sends an email to Autowise)
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>