<!-- The below are not needed -->
<!--
  OLD DELETE MODAL
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="modal fade" data-keyboard="false" data-backdrop="static" id="deleteModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Delete Loans</h4>
            </div>
            <div class="modal-body">
              <form>
                Delete The Selected Loans:
                <br>
                <button class="btn btn-primary" data-dismiss="modal" ng-click="removeEnMass()">Delete Selected Loans</button>
                <br>
              </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  OLD ARCHIEVE MODAL
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="modal fade" data-keyboard="false" data-backdrop="static" id="archiveModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Archive Loans</h4>
            </div>
            <div class="modal-body">
              <form>
                Archive The Selected Loans:
                <br>
                <button class="btn btn-primary" data-dismiss="modal" ng-click="updateStatusEnMass('ARCHIVED')">Archive Selected Loans</button>
                <br> </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 -->

<!-- change status modal -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="modal fade" data-keyboard="false" data-backdrop="static" id="changeModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" style="text-align: center;">
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
              <span>
                <h3>Change the status of the selected loans to</h3>
                <!-- <br> -->
                <select name="Loan Status" ng-model="newStatus">
                    <option disabled selected>New Status</option>
                    <option value="RECEIVED">Received</option>
                    <option value="SUBMITTED">Submitted</option>
                    <option value="PENDING">Pending</option>
                    <option value="VERIFIED">Verified</option>
                    <option value="APPROVED">Approved</option>
                    <option value="DENIED">Denied</option>
                </select>
                </span>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal" ng-click="updateStatusEnMass(newStatus)">Update</button>
              <button class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Simple New Loan modal -->
<div class="row">
  <div class="col-xs-12">
    <div class="modal fade" data-backdrop="static" id="buyerModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <form>
              <h3>New Loan</h3>
              <input placeholder="Name" type="" ng-model="newLoan.name" required>
              <input placeholder="Email" type="email" ng-model="newLoan.user_email">
              <select ng-model="newLoan.type">
                <option value="" disabled>Select loan type</option>
                <option value="auto" selected>Auto Loan</option>
                <option value="repair">Repair</option>
                <option value="admin">Admin</option>
              </select>
              <!-- <input type="submit" class="btn btn-default"> -->
              <!-- <input type="submit" data-dismiss="modal" style="display: none"> -->
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" ng-click="addLoan()">Create</button>
            <button class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Buyers order -->
<div class="row">
  <div class="col-xs-12">
    <div class="modal fade" data-keyboard="false" data-backdrop="static" id="buyersOrderModal" tabindex="-1">
      <!-- Marcial: Need better Modal CSS -->
      <!--          Doesn't need to be mobile friendly -->
      <div class="modal-dialog" style="width: 60%; min-width: 615px;">
      <!-- <div class="modal-dialog" style=""> -->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2>Buyers Order</h2>
            <!-- ["cutomer-info", "car-info", "financing", "trade-info", "insurance"] -->
            <ul class="nav nav-tabs" id="tabContent">
              <li class="active">
                <a href="#customer-info" data-toggle="tab">Customer Info</a>
              </li>
              <li> <a href="#car-info" data-toggle="tab">Car Info</a> </li>
              <li> <a href="#financing" data-toggle="tab">Financing</a> </li>
              <li> <a href="#trade-info" data-toggle="tab">Trade Info</a> </li>
              <li> <a href="#insurance" data-toggle="tab">Insurance</a> </li>
            </ul>
          </div>
          <div class="modal-body">
            <!--
              Form Date:
              <input type="date" name="form-date">
              <br>
              today's should be default
             -->
            <div class="tab-content">
              <!-- Please Enter the fields for the Buyers Order<br> -->
              <div class="tab-pane active" id="customer-info">
                <h3>Customer Information</h3>
                <br>
                Name <input name="customer-name"   placeholder="Required"  type="" required> <br>
                Email <input name="customer-email" placeholder="Required"  type="" required> <br>
                DL <input name="customer-dl"       placeholder="Required"  type="" required> <br>
                DOB <input name="customer-dob"                             type="date" required> <br>
                <br>
                Phone # <input name="customer-phone" placeholder="Required"  type="tel" required> <br>
                Home # <input name="customer-home"                            type="tel" > <br>
                Work # <input name="customer-work"                            type="tel" > <br>
                <br>

                <h4> Adding a Co-Purchaser? </h4>
                <!-- These need to be on the same line ... c'mon CSS... -->
                <!-- ng-value?? need an angular value that's boolean... -->
                <!-- ng-model="is_cosigning" -->
                <select >
                  <option value="true">Yes</option>
                  <option value="false" selected>No</option>
                </select>
                <br>

                <br>
                Name <input name="copurchaser-name"   placeholder="Required"  type="" required> <br>
                Email <input name="copurchaser-email" placeholder="Required"  type="" required> <br>
                DL <input name="copurchaser-dl"       placeholder="Required"  type="" required> <br>
                DOB <input name="copurchaser-dob"                             type="date" required> <br>
                <br>
                Phone # <input name="copurchaser-phone" placeholder="Required"  type="tel" required> <br>
                Home # <input name="copurchaser-home"                           type="tel" > <br>
                Work # <input name="copurchaser-work"                           type="tel" > <br>
                <br>

                <!-- <h4>Address</h4> -->
                Street <input type="" name="contact-street-address"> <br>
                City <input type="" name="contact-city"> <br>
                State <input type="" name="contact-state"> <br>
                County <input type="" name="contact-county"> <br>
                Zipcode <input type="" name="contact-zip"> <br>
                <br>
              </div>

              <div class="tab-pane" id="car-info">
                <h3> Wanted Car Information </h3>
                Car type:
                <select name="is-car-used">
                  <option disabled selected>Choose an option</option>
                  <option value="new">NEW</option>
                  <option value="used">Used</option>
                </select>

                <br>
                Year <input type="number" name="car-year"> <br>
                Make <input type="" name="car-make"> <br>
                Model <input type="" name="car-model"> <br>
                Type <input type="" name="car-type"> <br>
                Color <input type="" name="car-color"> <br>
                Mileage <input type="number" name="car-mileage"> <br>
                <br>

                <h4> Optional Information </h4>
                Cylinders <input type="" name="car-cyl"> <br>
                Serial Number <input type="" name="car-serial-no"> <br>
                Stock Number <input type="" name="car-stock-num"> <br>
                Salesperson <input type="" name="car-salesperson"> <br>
                Lender <input type="" name="car-lender"> <br>
                Purchased new tag <input type="" name="car-purchase-new-tag"> <br>
                Transfer <input type="" name="car-transfer"> <br>
                Tag Number <input type="" name="car-tag-no"> <br>
                Plate Number <input type="" name="car-plate-no"> <br>
                Expiration Date <input type="" name="car-exp-date"> <br>
                <br>
              </div>

              <div class="tab-pane" id="financing">
                <h3> Financing </h3>
                NADA Retail <input type="number" name="nada_retail"> <br>
                Total Sale Price <input type="number" name="total-sale-price"> <br>
                Trade Allowance <input type="number" name="trade-allowance"> <br>
                Trade Difference <input type="number" name="trade-difference"> <br>
                Admin Fees <input type="number" value="845" name="admin-fees"> <br>
                <!-- 845 by default -->
                Balance Owed <input type="number" name="bal-owed-on-trade"> <br>
                Total Due <input type="number" name="total-due"> <br>
                <br>

                <h4> Optional Information </h4>
                <!-- bye bye??
                Accessories <input type="" name="accessories">
                <br>
                Waste Tire Batt Fee <input type="number" name="waste-tire-batt-fee">
                <br>
                 -->
                Sub Total a <input type="number" name="sub-total-a"> <br>
                Sales Tax is County: 
                <select name="sales-tax-is-county">
                  <option value="True">True</option>
                  <option value="False">False</option>
                </select>
                <br>

                Sales Tax Percentage <input type="number" name="percentage"> <br>
                Estimated Fees <input type="number" name="estimated-fees"> <br>
                Lemon Law Fee <input type="number" name="lemon-law-fee"> <br>
                Sub Total b <input type="number" name="sub-total-b"> <br>
                Down Payment <input type="number" name="down-payment"> <br>
                Unpaid Due <input type="number" name="unpaid-due"> <br>
                <br>
              </div>

              <div class="tab-pane" id="trade-info">
                <h3> Trade Information </h3>
                Year <input type="number" name="car-year"> <br>
                Make <input type="" name="car-make"> <br>
                Model <input type="" name="car-model"> <br>
                Type <input type="" name="car-type"> <br>
                Color <input type="" name="car-color"> <br>
                Mileage <input type="number" name="car-mileage"> <br>
                <br>

                <h4> Optional Information </h4>
                Cylinders <input type="" name="car-cyl"> <br>
                Serial Number <input type="" name="car-serial-no"> <br>
                Account Number <input type="" name="account-num"> <br>
                Phone Number <input type="number" name="phone-num"> <br>
                Holder <input type="" name="holder"> <br>
                Address <input type="" name="address"> <br>
                Amount <input type="number" name="amount"> <br>
                Qualified By <input type="" name="qualif-by"> <br>
                Verified By <input type="" name="verif-by"> <br>
                Good Through <input type="date" name="good-thru"> <br>
              </div>

              <div class="tab-pane" id="insurance">
                <h3> Insurance Information </h3>
                Policy Number <input type="number" name="ins-policy-num"> <br>
                Company <input type="" name="company"> <br>
                <br>

                <h4> Optional Information </h4>
                Agent <input type="" name="agent"> <br>
                Phone Number <input type="number" name="phone-num"> <br>
                Eff Dates <input type="" name="eff-dates"> <br>
                Verified By <input type="" name="verif-by"> <br>
              </div>

            </div>
          </div>
          <div class="modal-footer">
            <!-- just ng-click it -->
            <button class="btn btn-primary" data-dismiss="modal">Submit</button>
            <button class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>