<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="nav-container">
    <div class="navbar-title">
      <div class="navbar-brand" href="#">
        <div> Autowise </div>
        <span ng-show="isAdmin">Admin</span>
      </div>
    </div>
    <div ng-hide="login_page" class="navbar-drop">
      <ul class="navbar-drop-icon">
        <li class="dropdown">
          <a id="user-action-toggle" href="#" data-toggle="dropdown" class="dropdown-toggle count-info">
            <em class="fa fa-xl fa-user"></em>
          </a>
          <ul class="dropdown-menu">
            <li>
              <!-- gotta implement this on warranties and on userperm -->
              <a href="#" ng-click="goToProfile()">
                Profile
              </a>
              <div class="divider"></div>
            </li>
            <li>
              <a href="#" ng-click="">
                Account
              </a>
              <div class="divider"></div>
            </li>
            <li ng-show="user.isSuperAdmin">
              <a href="#" ng-click="goToPermissions()">
                User Magement
              </a>
              <div class="divider"></div>
            </li>
            <li>
              <a href="#" ng-click="logout()">
                Log out
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>