<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="nav-container">
    <div class="navbar-title">
      <div class="navbar-brand" href="#">
        <div> Autowise </div>
        <span ng-show="isAdmin">Admin</span>
      </div>
    </div>
    <div ng-hide="login_page" class="navbar-drop">
      <ul class="navbar-drop-icon">
        <li class="dropdown">
          <a id="user-action-toggle" class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
            <em class="fa fa-xl fa-user"></em>
          </a>
          <!-- MARCIAL: TODOOOOO -->
          <!-- divide this into admin vs non admin stuff -->
          <ul class="dropdown-menu dropdown-alerts">
            <div ng-show="user.isSuperAdmin">
              <li>
                <a href="#" ng-click="goToPermissions()">
                  <div> User Magement </div>
                </a>
                <div class="divider"></div>
              </li>
            </div>
            <div>
              <li>
                <a href="#" ng-click="logout()">
                  <div> Log out </div>
                </a>
              </li>
            </div>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>