<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="nav-container">
    <div class="navbar-title">
      <div class="navbar-brand" href="#">
        <div> Autowise </div>
        <span ng-show="isAdmin">Admin</span>
      </div>
    </div>
    <div ng-hide="login_page" class="navbar-drop">
      <ul class="navbar-drop-icon">
        <li class="dropdown">
          <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
            <em class="fa fa-xl fa-user"></em>
          </a>
          <!-- MARCIAL: TODOOOOO -->
          <!-- divide this into admin vs non admin stuff -->
          <ul class="dropdown-menu dropdown-alerts">
            <li ng-show="isAdmin">
              <li> 
                <a href="#"> <div> 1 New Message (demo) </div> </a> 
                <div class="divider"></div>
              </li>
              <li> 
                <a href="#"> <div> 12 New Likes (demo) </div> </a> 
                <div class="divider"></div>
              </li>
              <li> 
                <a href="#" ng-click="goToPermissions()">Change user permissions or delete a user.
                <div class="divider"></div>
              </li>
            </li>
            <li> <a href="#" ng-click="logout()"> <div> Log out (VERY REAL) </div> </a> </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>