<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="nav-container">
    <div class="navbar-title">
      <div class="navbar-brand" href="#">
        <div> Autowise </div>
        <span ng-show="isAdmin">Admin</span>
      </div>
    </div>
    <div ng-hide="login_page" class="navbar-drop">
      <ul class="navbar-drop-icon">
        <li class="dropdown">
          <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
            <em class="fa fa-xl fa-user"></em>
          </a>
          <!-- MARCIAL: TODOOOOO -->
          <!-- divide this into admin vs non admin stuff -->
          <ul class="dropdown-menu dropdown-alerts">
            <div ng-show="!isAdmin">
              <li> 
                <a href="/editAccount">Edit your account information</a> 
                <div class="divider"></div>
              </li>
              <li> 
                <a href='#' ng-click="goToWarranties('5a05f274bd153e1c28741e70')">View some cool warranties!</a>
                <div class="divider"></div>
              </li>
              <li> 
                <a href="/customerHub">Check out your loans</a>
                <div class="divider"></div>
              </li>
            </div>
            <div ng-show="isAdmin">
              <li> 
                <a href="#"> 1 New Message (demo) </a> 
                <div class="divider"></div>
              </li>
              <li> 
                <a href="#"> 12 New Likes (demo) </a> 
                <div class="divider"></div>
              </li>
            </div>
            <li> <a href="#" ng-click="logout()"> Log out (VERY REAL) </a> </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>