<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="nav-container">
        <div class="navbar-title">
            <div class="navbar-brand" href="#">
                <div>
                    Autowise
                </div>
                <!-- TODO: Modify ng-if to show when admin -->
                <span ng-show="false">Admin</span>
            </div>
        </div>
        <div class="navbar-drop">
            <ul class="navbar-drop-icon">
                <li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <em class="fa fa-xl fa-user"></em>
                </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li><a href="#">
                            <div><em class="fa fa-envelope"></em> 1 New Message
                                <span class="pull-right text-muted small">3 mins ago</span></div>
                        </a></li>
                        <li class="divider"></li>
                        <li><a href="#">
                            <div><em class="fa fa-heart"></em> 12 New Likes
                                <span class="pull-right text-muted small">4 mins ago</span></div>
                        </a></li>
                        <li class="divider"></li>
                        <li><a href="#">
                            <div><em class="fa fa-user"></em> 5 New Followers
                                <span class="pull-right text-muted small">4 mins ago</span></div>
                        </a></li>
                    </ul>
                </li>
            </ul>
             
        </div>
    </div>
</nav>