<div class="row progress-row">
    <div class="col-xs-9" style="">
        <div class = "progress">
            <div class="progress-bar active"
                 ng-class="{true: 'progress-bar-striped', false: ''}[!(angular.lowercase(loan.status) == approved || angular.lowercase(loan.status) == denied)]"
                 style="background-color:{{statusColor(loan.status)}}; width:{{statusPercentage(loan.status)}}%"
                role="progressbar" aria-valuenow="{{statusPercentage(loan.status)}}" aria-valuemin="0" aria-valuemax="100">
                {{ loan.status }}
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <ul class="pull-right panel-settings">
        <li class="dropdown">
            <a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#" style="display: flex; justify-content: center; align-items: center;">
                <em class="fa fa-cogs"></em>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <ul class="dropdown-settings">
                        <li><a class="danger" ng-click="removeLoan(loan._id, true)">
                            <em class="fa fa-trash"></em> Delete
                        </a></li>
                        <hr>
                        <li><a ng-click="logLoan(loan._id)">
                            <em class="fa fa-archive"></em> Archive
                        </a></li>
<!--                        <hr>-->
<!--
                        <li><a href="#">
                            <em class="fa fa-cog"></em> Settings 3
                        </a></li>
-->
                    </ul>
                </li>
            </ul>
          </li>
    </ul>
    </div>
</div>