<div class="row progress-row">
    <div class="col-xs-12">
        <div class = "progress">
            <div class="progress-bar active {{loan.status | lowercase}}-progress">
                <!-- Marcial: -->
                <!-- make the style logic into CSS classes since they're always paired with each other -->
                <!-- posibly: class="{{loan-status}}-progress" -->

                <!-- 
                 ng-class="
                 {true: 'progress-bar-striped', false: ''}
                 [!(angular.lowercase(loan.status) == approved || angular.lowercase(loan.status) == denied)]"
                 -->
                <!-- For Steven: Clean the ng-class logic above, if even needed... -->

                {{ loan.status }}
            </div>
        </div>
    </div>
    <div class="col-xs-1">
        <ul class="pull-right panel-settings">
        <li class="dropdown">
            <!-- this style needs to be in a CSS class -->
            <a class="pull-right dropdown-toggle" data-toggle="dropdown" 
                style="display: flex; justify-content: center; align-items: center;">
                <em class="fa fa-cogs"></em>
            </a>
            <ul class="dropdown-menu dropdown-menu-right dropdown-settings">
                <li>
                    <a class="danger" ng-click="removeLoan(loan._id, false)">
                        <em class="fa fa-trash"></em> Delete
                    </a>
                </li>
                <hr>
                <li>
                    <a ng-click="archiveLoan(loan._id, false)">
                        <em class="fa fa-archive"></em> Archive
                    </a>
                </li>

                <!-- 
                <li>
                    <ul class="dropdown-settings">
                        <li>
                            <a class="danger" ng-click="removeLoan(loan._id, false)">
                                <em class="fa fa-trash"></em> Delete
                            </a>
                        </li>
                        <hr>
                        <li>
                            <a ng-click="archiveLoan(loan._id, false)">
                                <em class="fa fa-archive"></em> Archive
                            </a>
                        </li>
                        <hr>
                        <li><a href="#">
                            <em class="fa fa-cog"></em> Settings 3
                        </a></li>

                    </ul>
                </li
            </ul>
        </li>
        </ul>
    </div>
</div>