# Node build artifacts
node_modules
npm-debug.log

# Local development
.env
*.dev
.DS_Store
server.db_config.js

# Old files

# database testing
server/models/user.queries.js
server/models/server.db_config.js
server/server.db_config.js
server/models/userJSONtoMongo.js
server/models/UserListings.json

# Docker
Dockerfile
docker-compose.yml
