/*//updated ver*/

* {
    box-sizing: border-box;
}

.heading-primary {
    font-size: 1em;
    padding: 2em;
    padding: 8px 0;
    margin: 0;
}

.accoordion {
    width: 100%;
}

.accordion a,
a:hover,
a:focus {
    color: #fff;
    text-decoration: none;
}

.accordion dl,
.accordion-list {
    border: 1px solid #ddd;
}

.accordion dl:after,
.accordion-list:after {
    content: "";
    display: block;
    height: 1em;
    width: 100%;
    background-color: #2ba659;
}

.accordion dd,
.accordion__panel {
    background-color: #eee;
    font-size: 1em;
    line-height: 1.5em;
}

.accordion p {
    padding: 1em 2em 1em 2em;
}

.accordion {
    position: relative;
    background-color: #eee;
}

.container-accordion {
    max-width: 100%;
    margin: 0 auto;
    /*margin-right: 76px;*/
    padding: 2em 0 2em 0;
    padding-top: 100px;
}

.accordionTitle,
.accordion__Heading {
    background-color: #38cc70;
    text-align: center;
    font-weight: 700;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #fff;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    border-bottom: 1px solid #30bb64;
}


/*
.accordionTitle:before,
.accordion__Heading:before {
  content: " ";
  font-size: 1.5em;
  line-height: 0.5em;
  float: left;
}
*/

.accordionTitle:after,
.accordion__Heading:after {
    content: "+";
    font-size: 1.5em;
    line-height: 0.5em;
    float: right;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.header-settings {
    position: relative;
}

.accordionTitle:hover,
.accordion__Heading:hover {
    background-color: #2ba659;
}

.accordionTitleActive,
.accordionTitle.is-expanded {
    background-color: #2ba659;
}


input[type=checkbox] + label::after {
  content: "+";
}
input[type=radio] + label::after {
  content: "\25BC";
}
input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}

.accordionTitleActive:after,
.accordionTitle.is-expanded:after {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}

/*
    ACCORDION TRANSITION
*/
/* Acordeon styles */
/*
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;
}
*/

/*
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
*/

.tab-content {
  max-height: 0;
  padding: 0;
  -webkit-transition: max-height .35s, padding .5s;
  -o-transition: max-height .35s, padding .5s;
  transition: max-height .35s, padding .5s;
}

/* :checked */
input:checked ~ .tab-content {
  max-height: 50em;
  padding: 8px;
}
/* Icon */
label::after {
  position: absolute;
/*
  right: 0;
  top: 0;
*/
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
/*END TRANSITION*/


/*--------------------------------------------------------------------------------------------------------------------*\
|* FAKE ACCORDION HEADING - Looks like an accordion, doesn't act like one
\*--------------------------------------------------------------------------------------------------------------------*/
.accordionFakeTitle {
  background-color: #38cc70;
  text-align: center;
  font-weight: 700;
  padding: 2em;
  /*padding-left: 22.5em;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
  color: #fff;
  border-bottom: 1px solid #30bb64;
}

.accordionFakeTitle:after {
  font-size: 1.5em;
  line-height: 0.5em;
  float: right;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.accordionFakeTitle:hover {
  background-color: #2ba659;
}

h5.warranty-instruction {
  padding-top: 1em;
  color: #444444;
}

/*--------------------------------------------------------------------------------------------------------------------*\
|* ACCORDION ITEM
\*--------------------------------------------------------------------------------------------------------------------*/
.progress-row {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.progress {
    width: 103%;
    height: 100%;
    margin-bottom: 0;
}

.progress-row hr {
    margin-top: 8px;
    margin-bottom: 8px;
}

.dropdown-menu {
    padding: 8px;
}

@media screen and (min-width: 48em) {
    .accordionItem {
        max-height: 50em;
        -webkit-transition: max-height 0.5s, padding 0.5s;
        transition: max-height 0.5s, padding 0.5s;
    }
}

.accordion-content {
    overflow-y: auto;
    overflow-x: hidden;
}

.accordionItem.is-collapsed {
    max-height: 0;
}

.animateIn {
    -webkit-animation: accordionIn 0.45s normal ease-in-out both 1;
    animation: accordionIn 0.45s normal ease-in-out both 1;
}

.animateOut {
    -webkit-animation: accordionOut 0.45s alternate ease-in-out both 1;
    animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@-webkit-keyframes accordionIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes accordionIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes accordionOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
    }
}

@keyframes accordionOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
    }
}